.estimate-container {
        width: 100vw;
        padding: 1rem;
        background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)) ,url(../Assests/estimate.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
}
.estimate-title-container {
    background-color: rgba(240, 234, 218, 0.959);
    padding: 2.5rem 3rem 1rem;
    margin: 5rem auto 0;
    opacity: 1;
    border-radius: 10px;
    border: 6px solid black;

}
.estimate-title {
    text-align: center;
    color: orange;
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
    text-shadow: 1px 1px 1px grey;
    margin-top: -.3rem
}
.estimateTitle {
    margin-top: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px
}
.estimate_logo {
    width: 60px;
    height: 60px;
    display: block;
    margin: 1rem auto 0;
    background-image: url(../Assests/logo.png);
    background-size: contain;
    background-repeat: no-repeat
}
.estimate-title-container p {
    margin-top: 2rem !important
}
.estimate-btn-container {
    display: flex;
}
.estimate-btn {
    margin: 2rem auto 0;
}


@media (max-width: 768px) {
    
    .estimate_logo {
        width: 40px;
        height: 40px;
        margin: .5rem auto 0;
    }
    .estimate-title-container p {
        margin-top: 1rem !important;
        font-size: .9rem !important
    }
}

@media (max-width: 425px ) {
    .estimate-title-container {
        padding: .5rem .9rem .3rem;
        margin: 2rem auto 0;
    }
    .estimate_logo {
        width: 40px;
        height: 40px;
        margin: .5rem auto 0;
    }
    .estimate-title-container p {
        margin-top: 1rem !important;
        font-size: .9rem !important
    }
    
}
        @media (min-width: 320px){
            .estimate-container {
                height: 100vh
            }
        }
    @media (max-width: 320px) {
        .estimateTitle {
            font-size: 1.2rem
        }
    
    }